{% extends 'home.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tableau des Présences</h1>
    <p class="mb-4">Ce tableau affiche les utilisateurs et leurs présences.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des Présences</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Fonction</th>
                            <th>Matricule</th>
                            <th>CNI</th>
                            <th>Présences</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Fonction</th>
                            <th>Matricule</th>
                            <th>CNI</th>
                            <th>Présences</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in presence_data %}
                        <tr>
                            <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                            <td>{{ data.user.fonction }}</td>
                            <td>{{ data.user.matricule }}</td>
                            <td>{{ data.user.cni }}</td>
                            <td>
                                <ul>
                                    {% for presence in data.presences %}
                                    <li>{{ presence.date }} - {{ presence.get_status_display }} ({{ presence.heure_arrivee }} - {{ presence.heure_depart }})</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
